<!-- components/navbar.html -->
<header class="bg-light shadow-sm ">
    <nav class="navbar navbar-expand-md sticky-top px-sm-5 py-sm-2 navbar-white bg-white shadow-sm">
      <div class="container-fluid">
        <a href="/index.html">
          <img src="/assets/logoscp.svg" class="img-fluid" style="width: 50px;" alt="logoscp">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sporting CP</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav w-100 d-flex justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="/index.html">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/plantel.html">Plantel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/jogos.html">Jogos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/noticias.html">Notícias</a>
              </li>
              <li>
                <a class="btn btn-primary ms-2" href="#">Contactos
                  <i class="bi bi-arrow-down-left"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  